.nav-container{
    width: 250px;
    height: 730px;
    border-style: solid;
    background-color: cadetblue;
}

.nav-text{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    color: white;
    padding-top: 50px;
    padding-left: 50px;
    font-weight: 500;
}

.main-container{
    width: 1290px;
    height: 730px;
    border-style: solid;
}

@media (min-width: 500px) {
    .main-container{
        width: 280px;
        height: 700px;
        border-style: solid;
    }
    
    .nav-container{
        width: 220px;
        height: 700px;
        border-style: solid;
        background-color: cadetblue;
    }
}

@media (min-width: 500px) and (max-width: 1200px) {
    .main-container{
        width: 580px;
        height: 700px;
        border-style: solid;
    }
    
    .nav-container{
        width: 220px;
        height: 700px;
        border-style: solid;
        background-color: cadetblue;
    }
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .nav-container{
        width: 250px;
        height: 730px;
        border-style: solid;
        background-color: cadetblue;
    }
    
    
    .main-container{
        width: 1290px;
        height: 730px;
        border-style: solid;
    }
}